* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


input, button, select {
  border: none;
  border-radius: 4px;
  outline: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
html body {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

.container header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000;
  background-color: white;
  text-align: center;
}

.container header section {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

.container header section:first-of-type {
  background-color: #dedede9c;
}

.container header section .sContainer, .container footer .ftrContainer .inFCntr .inInDiv.last-child div.sContainer {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  max-width: 1800px;
}

.container header section .sContainer.hRhs i {
  font-size: 16px;
}

.container header section .sContainer.hRhs a {
  border-right: 2px solid #8988888c;
  padding: 0 8px;
}

.container header section:first-of-type a {
  text-decoration: none;
  color: #898888;
  display: flex;
  align-items: center;
}

.container header section:first-of-type i {
  color: rgba(0, 0, 0, 0.65);
  font-size: 19px;
}

.container header section  .sContainer a.aLst {
  background-color: #077db4;
  color: white;
  font-size: 14px;
  display: none;
  align-items: center;
  gap: 16px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container header section  .sContainer a.aLst i {
  color: white;
  font-size: 14px;
}

.container header section:last-of-type {
  padding-top: 0;
}

.container header section:last-of-type ul, .container .sideBar ul {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.container header section:last-of-type ul li, .container .sideBar li {
  list-style: none;
}

.container header section:last-of-type a, .container .sideBar a {
  text-decoration: none;
  color: #898888;
  font-size: 16px;
  background-color: #dedede54;
  padding: 8px 16px;
  transition: .1s ease-in-out;
}

.container header section:last-of-type a:hover, .container .sideBar a:hover {
  background-color: #dededeb2;
}

.container header section:last-of-type a.active, .container .sideBar a.active {
  background-color: #0f0f0f;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container header section:last-of-type a.aLst, .container .sideBar a.aLst {
  background-color: #077db4;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.container header section:last-of-type i.fa-bars {
  font-size: 25px;
  color: #898888;
  cursor: pointer;
  display: none;
}

.container .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  display: none;
  z-index: 1001;
}

.container .sideBar {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 16px;
  width: clamp(230px, 100%, 300px);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 1002;
  transition: right .5s ease;
  min-height: 100vh;
  margin-left: 10px;
}

.container .sideBar .sContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}

.container .sideBar .sContainer i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 25px;
  color: #8988889d;
  cursor: pointer;
}

.container .sideBar ul {
  flex-direction: column;
}

.container .sideBar a.ercr {
  color: #0f0f0f;
  background-color: white;
  padding-bottom: 0;
  padding: 5px;
}

.container .sideBar a.ercr:hover {
  background-color: #dedede;
}

.container .sideBar a.ercr:first-of-type {
  margin-top: 16px;
}

@media (max-width: 552px) {
  .container header section .sContainer.hRhs a.ercr {
    display: none;
  }
}

@media (max-width: 975px) {
  .container header section  .sContainer a.aLst {
    display: flex;
  }

  /* .container header section:last-of-type a.aLst {
    display: none;
  } */

  .container header section:last-of-type ul {
    display: none;
  }

  .container header section:last-of-type a.aLst {
    display: none;
  }

  .container header section:last-of-type i.fa-bars {
    display: block;
  }

  .container .overlay.active {
    display: block;
  }

  .container .sideBar.active {
    right: 0;
  }
}

/* WhatsApp Inetergration */

.container #whatsapp-chat-box .chat-header i {
  color: white;
  font-size: 25px;
  cursor: pointer;
}

.container #whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  background-color: #077db4;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6);
  animation: pulseGlow 2s infinite ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 0 0 rgb(7, 125, 180, 0.7);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}

.container #whatsapp-chat-box {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: clamp(200px, 85%, 375px);
  background: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(7, 95, 85, 0.1);
  z-index: 9999;
}

.container #whatsapp-chat-box .chat-header {
  background: #077db4;
  color: white;
  padding: 10px;
  border-radius: 4px 4px 0 0;
  position: relative;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
}

.container #whatsapp-chat-box .chat-header .top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.container #whatsapp-chat-box .chat-body {
  padding: 20px 16px;
  padding-bottom: 0;
  background-image: url('/Images/Whatsapp\ default\ wallpaper.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container #whatsapp-chat-box .chat-body .chat-container {
  position: relative;
  max-width: 300px;
  margin-bottom: 20px;
}

.container #whatsapp-chat-box .chat-body .chat-bubble {
  background-color: white;
  border-radius: 4px 4px 4px 0;
  padding: 10px 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #dedede;
}

.container #whatsapp-chat-box .chat-body .chat-bubble .sender {
  font-weight: bold;
  color: #0F0F0F;
  margin-bottom: 5px;
}

.container #whatsapp-chat-box .chat-body .chat-bubble .message {
  margin-bottom: 6px;
  line-height: 1.4;
}

.container #whatsapp-chat-box .chat-body .chat-bubble .time {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.container #whatsapp-chat-box .chat-body .containerWhp {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: white;
  margin: 0 -16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.container #whatsapp-chat-box .chat-body .containerWhp img {
  cursor: pointer;
}

.container #whatsapp-chat-box .chat-body p {
  margin: 0 0 10px;
  font-size: 14px;
  color: #333;
}

.container #whatsapp-chat-box .chat-body #userMessage {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 30px;
  resize: none;
  outline: none;
  padding: 10px 16px;
  padding-bottom: 0;
  font-size: 14px;
}

.container #whatsapp-chat-box .chat-body button {
  margin-top: 8px;
  width: 100%;
  padding: 8px;
  background: #0f0f0f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Main section */
.container .hero-section {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  font-size: 28px;
  margin-top: 115px;
}

.container .hero-section .slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.container .hero-section .slider-container .slider-track {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 100%;
}

.container .hero-section .slider-container .slider-track img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

.container .hero-section .bottom-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0), transparent);
  z-index: 1;
}

.container .hero-section .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: white;
  z-index: 2;
  text-align: center;
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  font-size: 20px;
}

.container .hero-section .content div.container1 {
  display: flex;
}

.container .hero-section .content div.container1 h1.main-heading {
  color: white;
  font-weight: bold;
  text-align: center;
}

.container .hero-section .content h1 span,.container .hero-section .content h1#main-heading div {
  font-family: 'Dancing Script', cursive;
  color: rgba(255, 255, 255, 0.719);
  font-weight: normal;
}

.container .hero-section .content h1 span#typing-text, .container .hero-section .content h1#main-heading.typing {
  display: inline-block;
  border-right: 2px solid white;
  white-space: nowrap;
  overflow: hidden;
  animation: blink 0.7s step-end infinite;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.container .hero-section .content div.container1:last-of-type {
  display: flex;
  justify-content: end;
}

.container .hero-section .content form {
  backdrop-filter: blur(8px);
  border-radius: 25px;
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 14px;
  text-align: center;
}

.container .hero-section .content form h1 {
  font-size: 25px;
}

.container .hero-section .content form .breadcrumb {
  display: flex;
  list-style: none;
  margin-top: 16px;
  background-color: rgba(0, 0, 0, 0.267);
  width: fit-content;
  clip-path: polygon(
    0 0,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    0 100%
  );
}

.container .hero-section .content form .breadcrumb li {
  padding: 8px 16px;
  color: white;
  font-weight: normal;
  cursor: pointer;
  background-color: #89888859;
}

.container .hero-section .content form .breadcrumb li:hover {
  color: #0f0f0f;
  opacity: .875;
}

/* First item: rectangle on left, chevron on right */
.container .hero-section .content form .breadcrumb li.active {
  clip-path: polygon(
    0 0,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    0 100%
  );
  background: linear-gradient(to right, #de0508, #de0509a2);
}

.container .hero-section .content form .breadcrumb li.active:hover {
  color: white;
  opacity: 1;
}

/* Middle items: chevron both left and right */
.container .hero-section .content form .breadcrumb li:not(:first-child) {
  clip-path: polygon(
    0 0,
    calc(100% - 15px) 0,
    100% 50%,
    calc(100% - 15px) 100%,
    0 100%,
    15px 50%
  );
}

/* Small gap between items */
.container .hero-section .content form .breadcrumb li:not(:first-child) {
  margin-left: -13px;
}

.container .hero-section .content form .inpCntr {
  padding: 16px 0;
  width: 100%;
}

.container .hero-section .content form .inpCntr .inpBox {
  align-items: start;
  width: 100%;
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* Contianer search */
.container .sarchR {
  background-color: rgba(255, 255, 255, 0.267);
  border-radius: 4px;
  padding: 5px;
  width: clamp(150px, 100%, 1000px);
  padding: 34px 16px;
  width: 100%;
  color: #0f0f0f;
  font-size: 15px;
  margin-top: 14px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.container .sarchR form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 35%;
}

.container .sarchR form h2 {
  font-weight: normal;
}

.container .sarchR form:first-of-type {
  border-radius: 4px;
  padding: 8px 16px;
  height: fit-content;
}

.container .sarchR form select, .container .sarchR form button, .container footer .ftrContainer form input, .container footer .ftrContainer form button, .container .hero-section .content form .inpCntr .inpBox input, .container .hero-section .content form .inpCntr .inpBox select, .container .hero-section .content form button {
  border: 1px solid #898888a2;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  color: #898888;
  background-color: #8988881f;
}

.container .sarchR form select option:not(:nth-of-type(1)) {
 color: #0f0f0f;
}

.vertical-or {
  position: relative;
  height: 100px;
  width: 1px;
  background-color: #ccc;
}

.vertical-or span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 10px 5px;
  font-weight: bold;
  color: #898888;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.vertical-or span i {
  color: #077db4;
}

.or-divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #898888;
  font-weight: bold;
  margin: 16px 0;
}

.horizontal-or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  gap: 16px;
  display: none;
}

.horizontal-or .line {
  height: 1px;
  width: 30px;
  background-color: #898888;
}

.horizontal-or .contentH {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  color: #898888;
  font-size: 18px;
}

.horizontal-or i {
  color: #077db4;
}

.or-divider::before,
.or-divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #de0508;
  margin: 0 10px;
}

.container .sarchR form button, .container footer .ftrContainer form button, .container .hero-section .content form button {
  background-color: #0f0f0f;
  color: white;
  cursor: pointer;
  border: none;
}

.container .sarchR form button:hover, .container footer .ftrContainer form button:hover {
  opacity: .875;
}

.container .hero-section .content form button {
  width: 100%;
  margin: 16px 0;
  background-color: #077db4;
}

.container .sarchR form .fContainer, .container .hero-section .content form .inpCntr {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.container .sarchR form .fContainer .inpBox, .container .hero-section .content form .inpCntr .inpBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

@media (max-width: 484px) {
  .container .sarchR form .fContainer {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .container .sarchR {
    flex-direction: column;
  }

  .container .sarchR form {
    width: 100%;
  }

  .container .sarchR form:last-of-type {
    padding: 8px 16px;
  }
  
  .vertical-or {
    display: none;
  }
  
  .horizontal-or {
    display: flex;
  }
}

.slider-price-container {
  width: 100%;
  padding: 5px;
}

.range-values {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

input[type=range] {
  width: 100%;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  outline: none;
  margin-top: 16px;
}
 
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #077db4;
  border-radius: 50%;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: #077db4;
  border-radius: 50%;
  cursor: pointer;
}

.track {
  height: 6px;
  background: #077db4;
  margin-top: -6px;
  position: relative;
  z-index: 1;
}

/* LISTING */
.container .lstngs {
  background-color: #dedede;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container .lstngs .lstngsHd {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #0f0f0f;
  color: white;
  border-radius: 30px;
  width: fit-content;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .lstngs .lstngsHd i {
  font-size: 18px;
}

.container .lstngs .lstngsHd h1 {
  font-size: 18px;
}

.container .lstngs .lstngsContanier {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}

.container .lstngs .lstngsContanier .lstngsDiv {
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: clamp(400px, 400px 400px);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: space-between;
  padding: 2px;
}

.container .lstngs .lstngsContanier .lstngsDiv p.avbiltyPrgh {
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  color: white;
  background-color: #0f0f0f;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

.container .lstngs .lstngsContanier .lstngsDiv img.lstngImg {
  width: 100%;
  height: 100%;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .sellerPrfl {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .sellerPrfl img {
  border-radius: 50%;
  height: 38px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .sellerPrfl p {
  font-size: 16px;
  color: #0f0f0f;
  line-height: 14px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .sellerPrfl p span {
  font-size: 12px;
  color: #898888;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower p.descrnP {
  font-size: 14px;
  color: #0f0f0f;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower p.descrnP i {
  color: #de0508;
  font-size: 12px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower p.descrnP span.lctin {
  color: #898888;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .price {
  display: flex;
  gap: 5px;
  align-items: center;
}

.container .lstngs .lstngsContanier .lstngsDiv .lstngsLower .price i {
  color: #077db4;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 0 10px 10px 10px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL p.view {
  color: white;
  background-color: #077db4;
  border: none;
  border-radius: 30px;
  padding: 6px;
  cursor: pointer;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL p.view:hover {
  opacity: 0.875;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL .innerIs {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL .innerIs i {
  background-color: #8988887e;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL .innerIs i:hover {
  scale: 1.2;
}

.container .lstngs .lstngsContanier .lstngsDiv .lANDdL .innerIs p {
  font-weight: 550;
  color: #898888;
}

/* Services section */
.container .servcs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px 16px;
}

.container .servcs .servcsHder {
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 18px;
  color: #0f0f0f;
}

.container .servcs .servcsHder h1 {
  text-align: center;
}

.container .servcs .servcsHder p {
  font-size: 15px;
  color: #898888;
  text-align: center;
}

.container .servcs .servcsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 50px;
  max-width: 100%;
}

.container .servcs .servcsContainer a.scContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  color: #0f0f0f;
  transition: transform 0.3s ease;
}

.container .servcs .servcsContainer a.scContainer:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container .servcs .servcsContainer a.scContainer h2 {
  text-align: center;
}

.container .servcs .servcsContainer a.scContainer p {
  color: #898888;
  text-align: center;
}

@media (max-width: 490px) {
  .container .servcs .servcsContainer {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

/* Footer */
.container footer {
  background-color: #0f0f0f;
  padding: 30px 16px;
  font-size: 14px;
  color: white;

}

.container footer .ftrContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding-bottom: 40px;
}

.container footer .ftrContainer form, .container footer .ftrContainer .inFCntr .inInDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container footer .ftrContainer form img {
  width: clamp(60px, 8.5vw, 90px);
  height: clamp(60px, 8.5vw, 90px);
}

.container footer .ftrContainer form h1 {
  font-size: clamp(25px, 4.5vw, 50px);
  font-weight: normal;
}

.container footer .ftrContainer form input, .container footer .ftrContainer form button  {
  width: 80%;
}

.container footer .ftrContainer form button {
  background-color: #de0508;
}

.container footer .ftrContainer .inFCntr {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.container footer .ftrContainer .inFCntr.lnks {
  border-left: 1px solid; /* Width of the border */
  border-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),   /* top faded */
    rgba(255, 255, 255, 1),   /* middle solid */
    rgba(255, 255, 255, 0)    /* bottom faded */
  ) 1 100%;
  border-right: 1px solid; /* Width of the border */
  border-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),   /* top faded */
    rgba(255, 255, 255, 1),   /* middle solid */
    rgba(255, 255, 255, 0)    /* bottom faded */
  ) 1 100%;
}

.container footer .ftrContainer .inFCntr:last-of-type {
  justify-content: end;
}

.container footer .ftrContainer .inFCntr .inInDiv h4 {
  font-size: 19px;
}

.container footer .ftrContainer .inFCntr .inInDiv a {
  text-decoration: none;
  color: #898888;
  width: fit-content;
}

.container footer .ftrContainer .inFCntr .inInDiv a:hover {
  opacity: .875;
  color: #077db4;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child {
  text-align: end;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div {
  padding-bottom: 30px;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div p {
  color: #898888;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div p:first-of-type {
  padding-bottom: 10px;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div.sContainer {
  max-width: none;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div.sContainer a {
  color: #077db4;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div.sContainer a:hover {
  color: #898888;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div.sContainer a i {
  font-size: 20px;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div:last-of-type a {
  color: white;
  font-size: 15px;
}

.container footer .ftrContainer .inFCntr .inInDiv.last-child div:last-of-type a:hover {
  color: #898888;
}

.container footer .fterP {
  padding-top: 10px;
  border-top: 1px solid #89888865;
  color: rgba(255, 255, 255, 0.438);
  border-top: 1px solid; /* Width of the border */
  border-image: linear-gradient(
    to right,
    rgba(138, 135, 135, 0),   /* top faded */
    rgba(138, 135, 135, 1),   /* middle solid */
    rgba(138, 135, 135, 0)    /* bottom faded */
  ) 1;
}

.container footer .fterP a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.61);
}

.container footer .fterP a:hover {
  color: #077db4;
}

@media (max-width: 842px) {
  .container footer .ftrContainer {
    grid-template-columns: 1fr 1fr;
  }

  .container footer .ftrContainer .inFCntr.lnks {
    border-right: none;
  }
  
  .container footer .ftrContainer .inFCntr:last-of-type {
    justify-content: start;
  }

  .container footer .ftrContainer .inFCntr .inInDiv.last-child {
    text-align: start;
  }
}

@media (max-width: 572px) {
  .container footer .ftrContainer {
    grid-template-columns: 1fr;
    padding-bottom: 16px;
  }

  .container footer .ftrContainer form {
    padding-bottom: 40px;
  }

  .container footer .ftrContainer .inFCntr {
    justify-content: start;
  }

  .container footer .ftrContainer .inFCntr.lnks {
    border-left: none;
    border-top: 1px solid; /* Width of the border */
    border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),   /* top faded */
      rgba(255, 255, 255, 1),   /* middle solid */
      rgba(255, 255, 255, 0)    /* bottom faded */
    ) 1;
    border-bottom: 1px solid; /* Width of the border */
    border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),   /* top faded */
      rgba(255, 255, 255, 1),   /* middle solid */
      rgba(255, 255, 255, 0)    /* bottom faded */
    ) 1;
  }
}